{% extends "minerals/layout.html" %}

{% load static %}


{% block content %}
  <div class="grid-100 mineral__container">
    <h1 class="mineral__name">{{ mineral.name }}</h1>
    <div class="mineral__image-bg">
      <img class="mineral__image" src="{% static 'images' %}/{{mineral.name}}.jpg" alt="{{ mineral.name|title }}">
      <p class="mineral__caption">{{ mineral.image_caption|title }}</p>
    </div>
    <div class="mineral__table-container">
      <table class="mineral__table">
        <tr>
          <td class="mineral__category">Category</td>
          <td>{{ mineral.category|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Formula</td>
          <td class="mineral__formula">{{ mineral.formula|safe }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Strunz Classification</td>
          <td>{{ mineral.strunz_classification|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Unit Cell</td>
          <td>{{ mineral.unit_cell|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Color</td>
          <td>{{ mineral.color|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Crystal Habit</td>
          <td>{{ mineral.crystal_habit|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Mohs Scale Hardness</td>
          <td>{{ mineral.mohs_scale_hardness|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Crystal Symmetry</td>
          <td>{{ mineral.crystal_symmetry|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Crystal System</td>
          <td>{{ mineral.crystal_system|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Cleavage</td>
          <td>{{ mineral.cleavage|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Crystal Symmetry</td>
          <td>{{ mineral.crystal_symmetry|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Luster</td>
          <td>{{ mineral.luster|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Streak</td>
          <td>{{ mineral.streak|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Diaphaneity</td>
          <td>{{ mineral.diaphaneity|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Optical Properties</td>
          <td>{{ mineral.optical_properties|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Refractive Index</td>
          <td>{{ mineral.refractive_index|title }}</td>
        </tr>
        <tr>
          <td class="mineral__category">Specific Gravity</td>
          <td>{{ mineral.specific_gravity|title }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}